section {
    background-color: #faebd6;
    width: 400px;
    margin: 120px auto;
    padding: 20px;
}

h1 {
    color: #ff0000;
}

.paragraf-brown {
    color: #a42423;
    margin: 20px 0;
}

.paragraf-blue {
    color: #00008f;
}